<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="Personal website of David Chen" name="description" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{{ title }}</title>

    <link href="https://fonts.gstatic.com/" rel="dns-prefetch" />
    <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    {% if globals.environment == "production" %}
      <link href="/assets/css/{{ assets['main.min.css'] }}" rel="stylesheet" />
      <script defer src="/assets/js/{{ assets['main.min.js'] }}"></script>
    {% else %}
      <link href="/assets/css/{{ assets['main.css'] }}" rel="stylesheet" />
      <script defer src="/assets/js/{{ assets['main.js'] }}"></script>
    {% endif %}
  </head>

  <body>
    <header class="row">
      <h1>
        <a href="/">
          <div class="logo">dc.</div>
        </a>
      </h1>
      <nav>
        <ul>
          {% if globals.environment == "development" %}
          <li>
            <a href="/drafts">drafts</a>
          </li>
          {% endif %}
          <li>
            <a href="/about">about</a>
          </li>
          <li>
            <a href="https://github.com/davidcgl">github</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/davidcgl">linkedin</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="row">
      {{ content }}
    </main>
  </body>
</html>
